@model IEnumerable<MusicStore.Models.Album>
@using MusicStore.Helpers;

@{
    ViewData["Title"] = "Albums";
}

<h1>
    Albums
</h1>

<h3>@ViewData["genreName"] Albums</h3>

<ul class="row list-unstyled" id="album-list">
    @foreach (var album in Model)
    {
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
            <a asp-controller="Store" asp-action="Details" asp-route-id="@album.AlbumID">
                <img alt="@album.Title" src="/content/@album.AlbumArtUrl" width="100" />
                <br />&nbsp;<br />
                <div id="title">@MyHelper.Truncate(album.Title, 20)</div>
            </a>
        </li>
    }
</ul>