@model IEnumerable<MusicStore.Models.Genre>

@{
    ViewData["Title"] = "List Genre";
}

<h1>Index</h1>

<p>
   Select
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="ListAlbums" asp-route-id="@item.GenreID">
                        @Html.DisplayFor(modelItem => item.Name)

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
